.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .user-info input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .blue-rectangle {
    background-color: #92dafe;
    color: #0238da;
    font-weight: bold;
    padding: 5px;
    margin-right: 0px;
    height: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .user-info button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  @media (max-width: 767px) {
    /* Здесь задаются стили для экранов шириной до 767 пикселей */
  }
  
  /* Стили для планшетов и небольших экранов */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Здесь задаются стили для экранов шириной от 768 до 991 пикселей */
  }
  
  /* Стили для десктопных экранов */
  @media (min-width: 992px) {
    /* Здесь задаются стили для экранов шириной от 992 пикселей и более */
  }